*.log
npm-debug.log*
coverage
docs
.vscode
.nyc_output
node_modules
package-lock.json
yarn.lock
src
test
CONTRIBUTING.md
.editorconfig
.eslintrc.js
.vscode
.babelrc
webpack.config.js
.gitignore
.DS_Store
Thumb.db
